@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: 'Jost', sans-serif;
    --peach: rgb(231, 129, 107);
    --black: rgb(29, 28, 30);
    --white: rgb(255,255,255);
    --light-peach: rgb(255, 173, 155);
    --dark-grey: rgb(51, 49, 54);
    --light-grey: #979797;
}

body, * {
   box-sizing: border-box;
   margin: 0;
}

h1{
   font-size: 3rem;
   line-height: 3rem;
   font-weight: 500;
   font-style: normal;
}

h2{
   font-size: 2.5rem;
   font-weight: 500;
   letter-spacing: 2px;
}

h3{
   font-size:1rem;
   font-weight: 400;
}

h4{
   font-weight: 500;
   font-size: 0.95rem;
   letter-spacing:5px
}

a {
   color: #000;
   text-decoration: none;
   font-size: 0.875rem;
   line-height: 0rem;
 }

 p{
    font-weight: 400;
 }

button {
   outline: none;
   border: none;
   background: none;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.lightButton {
   font-family: 'Jost', sans-serif;
   width: 152px;
   height: 56px;
   text-align: center;
   font-size: 15px;
   letter-spacing: 0.1rem;
   font-weight: 500;
   border-radius: 8px;
   z-index: 500; 
   text-transform: uppercase;
   background-color: var(--white);

   transition: 0.2s ease-in-out;
}

.lightButton:hover, .darkButton:hover{
   cursor: pointer;
   background: var(--light-peach);
   color: var(--white);
}

.darkButton{
   font-family: 'Jost', sans-serif;
   width: 152px;
   height: 56px;
   text-align: center;
   font-size: 15px;
   letter-spacing: 0.1rem;
   font-weight: 500;
   border-radius: 8px;
   z-index: 500; 
   text-transform: uppercase;
   background-color: var(--peach);
   color: var(--white);
   transition: 0.2s ease-in-out;
}
